<div class="header">
  <div class="header__title">Choose Icons</div>
  <div class="header__description">Search & pick your favorite icons</div>
</div>
<div class="select-title">Choose from library</div>
<div class="select-wrapper">
  <div id="select">
  </div>
</div>
<div class="icons-grid">
  <div class="icons-grid__icon" data-icon="">
    <div class="icons-grid__icon__circle">
      <img src="./images/default-icons/icon1.svg" alt="">
    </div>
  </div>
  <div class="icons-grid__icon icon_selected" data-icon="">
    <div class="icons-grid__icon__circle">
      <img src="./images/default-icons/icon2.svg" alt="">
    </div>
  </div>
</div>
<div class="control-panel">
  <div class="control-panel__text">Icons selected: <span class="control-panel__counter">5</span></div>
  <div class="main-button-wrapper">
    <button class="main-button">Start Generate</button>
  </div>
</div>
