<div class="header">
  <div class="header__title">Results</div>
  <div class="header__description">Save, Edit, Download or Share your Logo</div>
</div>
<div class="logos-wrapper">
  <div class="logo-card" data-font="Alegreya" data-color="" data-icon="">
    <div class="logo-card__buttons">
      <div class="logo-card__buttons__save">
        <i class="fa fa-download"></i>
        <div class="logo-card__buttons__save__download">
          <div data-save="PNG">PNG</div>
          <div data-save="JPG">JPG</div>
        </div>
      </div>
      <div class="logo-card__buttons__like">
        <i class="fa fa-heart"></i>
      </div>
    </div>
    <div class="logo-card__content">
      <div class="logo-card__content__icon icon_bright"><img src="./images/default-icons/icon2.svg" alt=""></div>
      <div class="logo-card__content__title title_bright">
        <div class="font-card__title">Company</div>
      </div>
    </div>
  </div>
  <div class="logo-card" data-font="Alegreya" data-color="" data-icon="">
    <div class="logo-card__buttons">
      <div class="logo-card__buttons__save save_opened">
        <i class="fa fa-download"></i>
        <div class="logo-card__buttons__save__download">
          <div data-save="PNG">PNG</div>
          <div data-save="JPG">JPG</div>
        </div>
      </div>
      <div class="logo-card__buttons__like like_liked">
        <i class="fa fa-heart"></i>
      </div>
    </div>
    <div class="logo-card__content content_column">
      <div class="logo-card__content__icon icon_dark"><img src="./images/default-icons/icon2.svg" alt=""></div>
      <div class="logo-card__content__title title_dark">
        <div class="font-card__title">Company</div>
      </div>
    </div>
  </div>
</div>
<div class="control-panel">
  <div class="control-panel__text">Icons selected: <span class="control-panel__counter">5</span></div>
  <div class="main-button-wrapper">
    <button class="main-button">All logos</button>
    <button class="main-button">Saved logos</button>
  </div>
</div>