<div class="header">
  <div class="header__title"></div>
  <div class="header__description"></div>
</div>
<div class="color-cards-wrapper">
  <div class="color-card" data-color="">
    <div class="color-card__colors-wrapper">
      <div class="color-card__colors-wrapper_color-element"></div>
      <div class="color-card__colors-wrapper_color-element"></div>
      <div class="color-card__colors-wrapper_color-element"></div>
      <div class="color-card__colors-wrapper_color-element"></div>
    </div>
    <div class="color-card__description"></div>
  </div>
</div>
