@mixin flex($justify-content, $align-items, $flex-direction, $flex-wrap) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
  flex-direction: $flex-direction;
  flex-wrap: $flex-wrap;
}

@mixin card_hover {
  user-select: none;
  cursor: pointer;
}

@mixin position($position, $z-index, $top, $right, $bottom, $left) {
  position: $position;
  z-index: $z-index;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin image_full {
  width: 100%;
  height: 100%;
}
