@import "variables";
@import "mixins";

.icons-grid {
  @include flex(center, null, null, wrap);
  margin-bottom: var(--control-panel_height);
  width: 70%;

  &__icon {
    background-color: var(--basic__cards_background-color);
    border: 1px solid var(--basic__input_border-color);
    border-radius: 50%;
    margin: var(--basic_margin-bottom);
    padding: 20px;
    height: 100px;
    width: 100px;
    @include flex(center, center, null, null);
    @include card_hover;

    &__circle {
      @include flex(center, null, null, null);
      pointer-events: none;

      & img {
        width: 58px;
        height: 100%;
      }
    }

    &.icon_selected {
      background-color: var(--basic__cards_background-color_hover);
      box-shadow: 0 0 1px 1px #656565;
    }
  }
}

@include media("<=1350px") {
  .icons-grid {
    width: 100%;
  }
}

@include media("<=tablet") {
  .icons-grid {
    &__icon {
      padding: 15px;
    }
  }
}

@include media("<=sm-tablet") {
  .icons-grid {
    margin-bottom: var(--mobile__control-panel_height);
  }
}

@include media("<=phone") {
  .icons-grid {
    &__icon {
      margin: 15px;
    }
  }
}
